/*
 * Variables set by the vscode webview. Ideally we would not depend on
 * these ones at all, and instead we'd have our own appropriately
 * named variables, which would then be set to vscode variables in the
 * extension, and to configurable values in the SSG.
*/
html {
    --vscode-font-family: system-ui, "Ubuntu", "Droid Sans", sans-serif;
    --vscode-font-weight: normal;
    --vscode-font-size: 13px;
    --vscode-editor-font-family: 'Droid Sans Mono', monospace;
    --vscode-editor-font-weight: normal;
    --vscode-editor-font-size: 14px;
    --text-link-decoration: none;
    --vscode-foreground: #bfbfbf;
    --vscode-strongForeground: #ffffff;
    --vscode-disabledForeground: #555555;
    --vscode-errorForeground: #f48771;
    --vscode-descriptionForeground: #8c8c8c;
    --vscode-icon-foreground: #8c8c8c;
    --vscode-focusBorder: rgba(57, 148, 188, 0.7);
    --vscode-textLink-foreground: #48a0c7;
    --vscode-textLink-activeForeground: #53a5ca;
    --vscode-textSeparator-foreground: #2a2a2a;
    --vscode-textPreformat-foreground: #8c8c8c;
    --vscode-textPreformat-background: #262626;
    --vscode-textBlockQuote-background: #242526;
    --vscode-textBlockQuote-border: #2a2b2c;
    --vscode-textCodeBlock-background: #242526;
    --vscode-sash-hoverBorder: rgba(57, 148, 188, 0.7);
    --vscode-badge-background: rgba(57, 148, 188, 0.94);
    --vscode-badge-foreground: #ffffff;
    --vscode-activityWarningBadge-foreground: #202020;
    --vscode-activityWarningBadge-background: #cca700;
    --vscode-activityErrorBadge-foreground: #ffffff;
    --vscode-activityErrorBadge-background: #f48771;
    --vscode-scrollbar-shadow: rgba(25, 27, 29, 0.3);
    --vscode-scrollbarSlider-background: rgba(131, 132, 133, 0.2);
    --vscode-scrollbarSlider-hoverBackground: rgba(131, 132, 133, 0.4);
    --vscode-scrollbarSlider-activeBackground: rgba(131, 132, 133, 0.6);
    --vscode-progressBar-background: #878889;
    --vscode-chart-line: #236b8e;
    --vscode-chart-axis: rgba(191, 191, 191, 0.4);
    --vscode-chart-guide: rgba(191, 191, 191, 0.2);
    --vscode-editor-background: #121314;
    --vscode-editor-foreground: #bbbebf;
    --vscode-editorStickyScroll-background: #121314;
    --vscode-editorStickyScrollGutter-background: #121314;
    --vscode-editorStickyScrollHover-background: #202122;
    --vscode-editorStickyScroll-border: #2a2b2c;
    --vscode-editorStickyScroll-shadow: rgba(25, 27, 29, 0.3);
    --vscode-editorWidget-background: #202122;
    --vscode-editorWidget-foreground: #bfbfbf;
    --vscode-editorWidget-border: #2a2b2c;
    --vscode-editorError-foreground: #f14c4c;
    --vscode-editorWarning-foreground: #cca700;
    --vscode-editorInfo-foreground: #59a4f9;
    --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
    --vscode-editorLink-activeForeground: #3a94bc;
    --vscode-editor-selectionBackground: rgba(39, 103, 130, 0.87);
    --vscode-editor-inactiveSelectionBackground: rgba(39, 103, 130, 0.38);
    --vscode-editor-selectionHighlightBackground: rgba(39, 103, 130, 0.38);
    --vscode-editor-compositionBorder: #ffffff;
    --vscode-editor-findMatchBackground: rgba(39, 103, 130, 0.56);
    --vscode-editor-findMatchHighlightBackground: rgba(39, 103, 130, 0.5);
    --vscode-editor-findRangeHighlightBackground: #242526;
    --vscode-editor-hoverHighlightBackground: #242526;
    --vscode-editorHoverWidget-background: #202122;
    --vscode-editorHoverWidget-foreground: #bfbfbf;
    --vscode-editorHoverWidget-border: #2a2b2c;
    --vscode-editorHoverWidget-statusBarBackground: #262829;
    --vscode-editorInlayHint-foreground: #969696;
    --vscode-editorInlayHint-background: rgba(57, 148, 188, 0.09);
    --vscode-editorInlayHint-typeForeground: #969696;
    --vscode-editorInlayHint-typeBackground: rgba(57, 148, 188, 0.09);
    --vscode-editorInlayHint-parameterForeground: #969696;
    --vscode-editorInlayHint-parameterBackground: rgba(57, 148, 188, 0.09);
    --vscode-editorLightBulb-foreground: #ffcc00;
    --vscode-editorLightBulbAutoFix-foreground: #75beff;
    --vscode-editorLightBulbAi-foreground: #ffcc00;
    --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
    --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
    --vscode-diffEditor-insertedTextBackground: rgba(87, 171, 90, 0.3);
    --vscode-diffEditor-removedTextBackground: rgba(244, 112, 103, 0.3);
    --vscode-diffEditor-insertedLineBackground: rgba(52, 125, 57, 0.15);
    --vscode-diffEditor-removedLineBackground: rgba(201, 60, 55, 0.15);
    --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
    --vscode-diffEditor-unchangedRegionBackground: #191a1b;
    --vscode-diffEditor-unchangedRegionForeground: #bfbfbf;
    --vscode-diffEditor-unchangedCodeBackground: rgba(116, 116, 116, 0.16);
    --vscode-widget-shadow: rgba(0, 0, 0, 0.36);
    --vscode-widget-border: #2a2b2c;
    --vscode-toolbar-hoverBackground: rgba(255, 255, 255, 0.09);
    --vscode-toolbar-activeBackground: rgba(255, 255, 255, 0.09);
    --vscode-breadcrumb-foreground: #8c8c8c;
    --vscode-breadcrumb-background: #121314;
    --vscode-breadcrumb-focusForeground: #bfbfbf;
    --vscode-breadcrumb-activeSelectionForeground: #bfbfbf;
    --vscode-breadcrumbPicker-background: #202122;
    --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --vscode-editorOverviewRuler-findMatchForeground: rgba(58, 148, 188, 0.6);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-problemsErrorIcon-foreground: #f14c4c;
    --vscode-problemsWarningIcon-foreground: #cca700;
    --vscode-problemsInfoIcon-foreground: #59a4f9;
    --vscode-minimap-findMatchHighlight: rgba(39, 103, 130, 0.5);
    --vscode-minimap-selectionOccurrenceHighlight: rgba(39, 103, 130, 0.38);
    --vscode-minimap-selectionHighlight: rgba(39, 103, 130, 0.87);
    --vscode-minimap-infoHighlight: #59a4f9;
    --vscode-minimap-warningHighlight: #cca700;
    --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimapSlider-background: rgba(131, 132, 133, 0.2);
    --vscode-minimapSlider-hoverBackground: rgba(131, 132, 133, 0.4);
    --vscode-minimapSlider-activeBackground: rgba(131, 132, 133, 0.6);
    --vscode-charts-foreground: #cccccc;
    --vscode-charts-lines: rgba(200, 202, 204, 0.5);
    --vscode-charts-red: #ef8773;
    --vscode-charts-blue: #57a3f8;
    --vscode-charts-yellow: #e0b97f;
    --vscode-charts-orange: #cd861a;
    --vscode-charts-green: #86cf86;
    --vscode-charts-purple: #ad80d7;
    --vscode-list-focusBackground: rgba(57, 148, 188, 0.15);
    --vscode-list-focusForeground: #bfbfbf;
    --vscode-list-focusOutline: rgba(57, 148, 188, 0.7);
    --vscode-list-activeSelectionBackground: rgba(57, 148, 188, 0.15);
    --vscode-list-activeSelectionForeground: #ededed;
    --vscode-list-activeSelectionIconForeground: #ffffff;
    --vscode-list-inactiveSelectionBackground: #2c2d2e;
    --vscode-list-inactiveSelectionForeground: #ededed;
    --vscode-list-hoverBackground: rgba(255, 255, 255, 0.05);
    --vscode-list-hoverForeground: #bfbfbf;
    --vscode-list-dropBackground: rgba(57, 148, 188, 0.1);
    --vscode-list-dropBetweenBackground: #8c8c8c;
    --vscode-list-highlightForeground: #48a0c7;
    --vscode-list-focusHighlightForeground: #48a0c7;
    --vscode-list-invalidItemForeground: #444444;
    --vscode-list-errorForeground: #f48771;
    --vscode-list-warningForeground: #e5ba7d;
    --vscode-listFilterWidget-background: #202122;
    --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --vscode-listFilterWidget-noMatchesOutline: #be1100;
    --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.36);
    --vscode-list-filterMatchBackground: rgba(39, 103, 130, 0.5);
    --vscode-list-deemphasizedForeground: #8c8c8c;
    --vscode-tree-indentGuidesStroke: #585858;
    --vscode-tree-inactiveIndentGuidesStroke: rgba(88, 88, 88, 0.4);
    --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
    --vscode-tree-tableOddRowsBackground: rgba(191, 191, 191, 0.04);
    --vscode-editorActionList-background: #202122;
    --vscode-editorActionList-foreground: #bfbfbf;
    --vscode-editorActionList-focusForeground: #ededed;
    --vscode-editorActionList-focusBackground: rgba(57, 148, 188, 0.15);
    --vscode-input-background: #191a1b;
    --vscode-input-foreground: #bfbfbf;
    --vscode-input-border: #333536;
    --vscode-inputOption-activeBorder: #2a2b2c;
    --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
    --vscode-inputOption-activeBackground: rgba(57, 148, 188, 0.2);
    --vscode-inputOption-activeForeground: #bfbfbf;
    --vscode-input-placeholderForeground: #555555;
    --vscode-inputValidation-infoBackground: #1e3a47;
    --vscode-inputValidation-infoForeground: #bfbfbf;
    --vscode-inputValidation-infoBorder: #3994bc;
    --vscode-inputValidation-warningBackground: #352a05;
    --vscode-inputValidation-warningForeground: #bfbfbf;
    --vscode-inputValidation-warningBorder: #b89500;
    --vscode-inputValidation-errorBackground: #3a1d1d;
    --vscode-inputValidation-errorForeground: #bfbfbf;
    --vscode-inputValidation-errorBorder: #be1100;
    --vscode-dropdown-background: #191a1b;
    --vscode-dropdown-listBackground: #191a1b;
    --vscode-dropdown-foreground: #bfbfbf;
    --vscode-dropdown-border: #333536;
    --vscode-button-foreground: #ffffff;
    --vscode-button-separator: rgba(255, 255, 255, 0.4);
    --vscode-button-background: #297aa0;
    --vscode-button-hoverBackground: #2b7da3;
    --vscode-button-border: #333536;
    --vscode-button-secondaryForeground: #cccccc;
    --vscode-button-secondaryBackground: rgba(0, 0, 0, 0);
    --vscode-button-secondaryHoverBackground: rgba(255, 255, 255, 0.06);
    --vscode-radio-activeForeground: #bfbfbf;
    --vscode-radio-activeBackground: rgba(57, 148, 188, 0.2);
    --vscode-radio-activeBorder: #2a2b2c;
    --vscode-radio-inactiveBorder: rgba(191, 191, 191, 0.2);
    --vscode-radio-inactiveHoverBackground: rgba(90, 93, 94, 0.5);
    --vscode-checkbox-background: #242526;
    --vscode-checkbox-selectBackground: #202122;
    --vscode-checkbox-foreground: #8c8c8c;
    --vscode-checkbox-border: #333536;
    --vscode-checkbox-selectBorder: #8c8c8c;
    --vscode-checkbox-disabled\.background: #464647;
    --vscode-checkbox-disabled\.foreground: #696a6a;
    --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
    --vscode-keybindingLabel-foreground: #cccccc;
    --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
    --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
    --vscode-menu-border: #2a2b2c;
    --vscode-menu-foreground: #bfbfbf;
    --vscode-menu-background: #202122;
    --vscode-menu-selectionForeground: #bfbfbf;
    --vscode-menu-selectionBackground: rgba(57, 148, 188, 0.15);
    --vscode-menu-separatorBackground: #2a2b2c;
    --vscode-quickInput-background: #202122;
    --vscode-quickInput-foreground: #bfbfbf;
    --vscode-quickInputTitle-background: #202122;
    --vscode-pickerGroup-foreground: #bfbfbf;
    --vscode-pickerGroup-border: #2a2b2c;
    --vscode-quickInputList-focusForeground: #ffffff;
    --vscode-quickInputList-focusIconForeground: #ffffff;
    --vscode-quickInputList-focusBackground: #297aa0;
    --vscode-quickInputList-focusHighlightForeground: #ffffff;
    --vscode-search-resultsInfoForeground: rgba(191, 191, 191, 0.65);
    --vscode-searchEditor-findMatchBackground: rgba(39, 103, 130, 0.33);
    --vscode-editor-lineHighlightBackground: #242526;
    --vscode-editor-inactiveLineHighlightBackground: #242526;
    --vscode-editor-lineHighlightBorder: #282828;
    --vscode-editor-rangeHighlightBackground: #242526;
    --vscode-editor-symbolHighlightBackground: rgba(39, 103, 130, 0.5);
    --vscode-editorCursor-foreground: #bbbebf;
    --vscode-editorMultiCursor-primary\.foreground: #bbbebf;
    --vscode-editorMultiCursor-secondary\.foreground: #bbbebf;
    --vscode-editorWhitespace-foreground: rgba(140, 140, 140, 0.3);
    --vscode-editorLineNumber-foreground: #858889;
    --vscode-editorIndentGuide-background: rgba(131, 132, 133, 0.3);
    --vscode-editorIndentGuide-activeBackground: #838485;
    --vscode-editorIndentGuide-background1: #404040;
    --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground1: #707070;
    --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorActiveLineNumber-foreground: #c6c6c6;
    --vscode-editorLineNumber-activeForeground: #bbbebf;
    --vscode-editorRuler-foreground: #848484;
    --vscode-editorCodeLens-foreground: #8c8c8c;
    --vscode-editorBracketMatch-background: rgba(57, 148, 188, 0.33);
    --vscode-editorBracketMatch-border: #2a2b2c;
    --vscode-editorOverviewRuler-border: #2a2b2c;
    --vscode-editorGutter-background: #121314;
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
    --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-errorForeground: #f48771;
    --vscode-editorOverviewRuler-warningForeground: #e5ba7d;
    --vscode-editorOverviewRuler-infoForeground: #59a4f9;
    --vscode-editorBracketHighlight-foreground1: #ffd700;
    --vscode-editorBracketHighlight-foreground2: #da70d6;
    --vscode-editorBracketHighlight-foreground3: #179fff;
    --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-unexpectedBracket\.foreground: rgba(255, 18, 18, 0.8);
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorUnicodeHighlight-border: #cca700;
    --vscode-diffEditor-move\.border: rgba(139, 139, 139, 0.61);
    --vscode-diffEditor-moveActive\.border: #ffa500;
    --vscode-diffEditor-unchangedRegionShadow: #000000;
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-actionBar-toggledBackground: #383a49;
    --vscode-symbolIcon-arrayForeground: #bfbfbf;
    --vscode-symbolIcon-booleanForeground: #bfbfbf;
    --vscode-symbolIcon-classForeground: #ee9d28;
    --vscode-symbolIcon-colorForeground: #bfbfbf;
    --vscode-symbolIcon-constantForeground: #bfbfbf;
    --vscode-symbolIcon-constructorForeground: #b180d7;
    --vscode-symbolIcon-enumeratorForeground: #ee9d28;
    --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
    --vscode-symbolIcon-eventForeground: #ee9d28;
    --vscode-symbolIcon-fieldForeground: #75beff;
    --vscode-symbolIcon-fileForeground: #bfbfbf;
    --vscode-symbolIcon-folderForeground: #bfbfbf;
    --vscode-symbolIcon-functionForeground: #b180d7;
    --vscode-symbolIcon-interfaceForeground: #75beff;
    --vscode-symbolIcon-keyForeground: #bfbfbf;
    --vscode-symbolIcon-keywordForeground: #bfbfbf;
    --vscode-symbolIcon-methodForeground: #b180d7;
    --vscode-symbolIcon-moduleForeground: #bfbfbf;
    --vscode-symbolIcon-namespaceForeground: #bfbfbf;
    --vscode-symbolIcon-nullForeground: #bfbfbf;
    --vscode-symbolIcon-numberForeground: #bfbfbf;
    --vscode-symbolIcon-objectForeground: #bfbfbf;
    --vscode-symbolIcon-operatorForeground: #bfbfbf;
    --vscode-symbolIcon-packageForeground: #bfbfbf;
    --vscode-symbolIcon-propertyForeground: #bfbfbf;
    --vscode-symbolIcon-referenceForeground: #bfbfbf;
    --vscode-symbolIcon-snippetForeground: #bfbfbf;
    --vscode-symbolIcon-stringForeground: #bfbfbf;
    --vscode-symbolIcon-structForeground: #bfbfbf;
    --vscode-symbolIcon-textForeground: #bfbfbf;
    --vscode-symbolIcon-typeParameterForeground: #bfbfbf;
    --vscode-symbolIcon-unitForeground: #bfbfbf;
    --vscode-symbolIcon-variableForeground: #75beff;
    --vscode-peekViewTitle-background: #242526;
    --vscode-peekViewTitleLabel-foreground: #bfbfbf;
    --vscode-peekViewTitleDescription-foreground: #8c8c8c;
    --vscode-peekView-border: #2a2b2c;
    --vscode-peekViewResult-background: #191a1b;
    --vscode-peekViewResult-lineForeground: #8c8c8c;
    --vscode-peekViewResult-fileForeground: #bfbfbf;
    --vscode-peekViewResult-selectionBackground: rgba(57, 148, 188, 0.15);
    --vscode-peekViewResult-selectionForeground: #bfbfbf;
    --vscode-peekViewEditor-background: #191a1b;
    --vscode-peekViewEditorGutter-background: #191a1b;
    --vscode-peekViewEditorStickyScroll-background: #191a1b;
    --vscode-peekViewEditorStickyScrollGutter-background: #191a1b;
    --vscode-peekViewResult-matchHighlightBackground: rgba(57, 148, 188, 0.2);
    --vscode-peekViewEditor-matchHighlightBackground: rgba(57, 148, 188, 0.2);
    --vscode-editorMarkerNavigationError-background: #f14c4c;
    --vscode-editorMarkerNavigationError-headerBackground: rgba(241, 76, 76, 0.1);
    --vscode-editorMarkerNavigationWarning-background: #cca700;
    --vscode-editorMarkerNavigationWarning-headerBackground: rgba(204, 167, 0, 0.1);
    --vscode-editorMarkerNavigationInfo-background: #59a4f9;
    --vscode-editorMarkerNavigationInfo-headerBackground: rgba(89, 164, 249, 0.1);
    --vscode-editorMarkerNavigation-background: #121314;
    --vscode-editor-foldBackground: rgba(39, 103, 130, 0.26);
    --vscode-editor-foldPlaceholderForeground: #808080;
    --vscode-editorGutter-foldingControlForeground: #8c8c8c;
    --vscode-editorSuggestWidget-background: #202122;
    --vscode-editorSuggestWidget-border: #2a2b2c;
    --vscode-editorSuggestWidget-foreground: #bfbfbf;
    --vscode-editorSuggestWidget-selectedForeground: #ffffff;
    --vscode-editorSuggestWidget-selectedIconForeground: #ffffff;
    --vscode-editorSuggestWidget-selectedBackground: rgba(57, 148, 188, 0.15);
    --vscode-editorSuggestWidget-highlightForeground: #bfbfbf;
    --vscode-editorSuggestWidget-focusHighlightForeground: #48a0c7;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(191, 191, 191, 0.5);
    --vscode-inlineEdit-originalBackground: rgba(244, 112, 103, 0.06);
    --vscode-inlineEdit-modifiedBackground: rgba(87, 171, 90, 0.09);
    --vscode-inlineEdit-originalChangedLineBackground: rgba(244, 112, 103, 0.24);
    --vscode-inlineEdit-originalChangedTextBackground: rgba(244, 112, 103, 0.24);
    --vscode-inlineEdit-modifiedChangedLineBackground: rgba(52, 125, 57, 0.1);
    --vscode-inlineEdit-modifiedChangedTextBackground: rgba(87, 171, 90, 0.21);
    --vscode-inlineEdit-gutterIndicator\.primaryForeground: #ffffff;
    --vscode-inlineEdit-gutterIndicator\.primaryBorder: #297aa0;
    --vscode-inlineEdit-gutterIndicator\.primaryBackground: rgba(41, 122, 160, 0.4);
    --vscode-inlineEdit-gutterIndicator\.secondaryForeground: #bfbfbf;
    --vscode-inlineEdit-gutterIndicator\.secondaryBorder: #2a2b2c;
    --vscode-inlineEdit-gutterIndicator\.secondaryBackground: #202122;
    --vscode-inlineEdit-gutterIndicator\.successfulForeground: #ffffff;
    --vscode-inlineEdit-gutterIndicator\.successfulBorder: #297aa0;
    --vscode-inlineEdit-gutterIndicator\.successfulBackground: #297aa0;
    --vscode-inlineEdit-gutterIndicator\.background: rgba(25, 26, 27, 0.5);
    --vscode-inlineEdit-originalBorder: rgba(244, 112, 103, 0.3);
    --vscode-inlineEdit-modifiedBorder: rgba(87, 171, 90, 0.3);
    --vscode-inlineEdit-tabWillAcceptModifiedBorder: rgba(87, 171, 90, 0.3);
    --vscode-inlineEdit-tabWillAcceptOriginalBorder: rgba(244, 112, 103, 0.3);
    --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
    --vscode-editor-wordHighlightBackground: rgba(39, 103, 130, 0.31);
    --vscode-editor-wordHighlightStrongBackground: rgba(39, 103, 130, 0.5);
    --vscode-editor-wordHighlightTextBackground: rgba(39, 103, 130, 0.31);
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorHoverWidget-highlightForeground: #48a0c7;
    --vscode-editor-placeholder\.foreground: rgba(255, 255, 255, 0.34);
    --vscode-tab-activeBackground: #121314;
    --vscode-tab-unfocusedActiveBackground: #121314;
    --vscode-tab-inactiveBackground: #191a1b;
    --vscode-tab-unfocusedInactiveBackground: #191a1b;
    --vscode-tab-activeForeground: #bfbfbf;
    --vscode-tab-inactiveForeground: #8c8c8c;
    --vscode-tab-unfocusedActiveForeground: #8c8c8c;
    --vscode-tab-unfocusedInactiveForeground: #444444;
    --vscode-tab-hoverBackground: #121314;
    --vscode-tab-unfocusedHoverBackground: #1f1f1f;
    --vscode-tab-hoverForeground: #bfbfbf;
    --vscode-tab-unfocusedHoverForeground: rgba(191, 191, 191, 0.5);
    --vscode-tab-border: #2a2b2c;
    --vscode-tab-lastPinnedBorder: #2a2b2c;
    --vscode-tab-activeBorder: #121314;
    --vscode-tab-unfocusedActiveBorder: #1f1f1f;
    --vscode-tab-activeBorderTop: #3994bc;
    --vscode-tab-unfocusedActiveBorderTop: #2b2b2b;
    --vscode-tab-selectedBorderTop: #6caddf;
    --vscode-tab-selectedBackground: #222222;
    --vscode-tab-selectedForeground: rgba(255, 255, 255, 0.63);
    --vscode-tab-dragAndDropBorder: #bfbfbf;
    --vscode-tab-activeModifiedBorder: #3399cc;
    --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
    --vscode-editorPane-background: #121314;
    --vscode-editorGroupHeader-tabsBackground: #191a1b;
    --vscode-editorGroupHeader-tabsBorder: #2a2b2c;
    --vscode-editorGroupHeader-noTabsBackground: #121314;
    --vscode-editorGroup-border: rgba(255, 255, 255, 0.09);
    --vscode-editorGroup-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-editorGroup-dropIntoPromptForeground: #bfbfbf;
    --vscode-editorGroup-dropIntoPromptBackground: #202122;
    --vscode-sideBySideEditor-horizontalBorder: rgba(255, 255, 255, 0.09);
    --vscode-sideBySideEditor-verticalBorder: rgba(255, 255, 255, 0.09);
    --vscode-banner-background: rgba(57, 148, 188, 0.15);
    --vscode-banner-foreground: #ededed;
    --vscode-banner-iconForeground: #59a4f9;
    --vscode-statusBar-foreground: #8c8c8c;
    --vscode-statusBar-noFolderForeground: #8c8c8c;
    --vscode-statusBar-background: #191a1b;
    --vscode-statusBar-noFolderBackground: #191a1b;
    --vscode-statusBar-border: #2a2b2c;
    --vscode-statusBar-focusBorder: rgba(57, 148, 188, 0.7);
    --vscode-statusBar-noFolderBorder: #2a2b2c;
    --vscode-statusBarItem-activeBackground: #4b4c4d;
    --vscode-statusBarItem-focusBorder: rgba(57, 148, 188, 0.7);
    --vscode-statusBarItem-hoverBackground: #262728;
    --vscode-statusBarItem-hoverForeground: #ffffff;
    --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-prominentForeground: #ffffff;
    --vscode-statusBarItem-prominentBackground: #3994bc;
    --vscode-statusBarItem-prominentHoverForeground: #ffffff;
    --vscode-statusBarItem-prominentHoverBackground: #3994bc;
    --vscode-statusBarItem-errorBackground: #c72e0f;
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-errorHoverForeground: #ffffff;
    --vscode-statusBarItem-errorHoverBackground: #262728;
    --vscode-statusBarItem-warningBackground: #7a6400;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-statusBarItem-warningHoverForeground: #ffffff;
    --vscode-statusBarItem-warningHoverBackground: #262728;
    --vscode-activityBar-background: #191a1b;
    --vscode-activityBar-foreground: #bfbfbf;
    --vscode-activityBar-inactiveForeground: #8c8c8c;
    --vscode-activityBar-border: #2a2b2c;
    --vscode-activityBar-activeBorder: #bfbfbf;
    --vscode-activityBar-activeFocusBorder: rgba(57, 148, 188, 0.7);
    --vscode-activityBar-dropBorder: #bfbfbf;
    --vscode-activityBarBadge-background: #3994bc;
    --vscode-activityBarBadge-foreground: #ffffff;
    --vscode-activityBarTop-foreground: #e7e7e7;
    --vscode-activityBarTop-activeBorder: #bfbfbf;
    --vscode-activityBarTop-inactiveForeground: rgba(231, 231, 231, 0.6);
    --vscode-activityBarTop-dropBorder: #e7e7e7;
    --vscode-panel-background: #191a1b;
    --vscode-panel-border: #2a2b2c;
    --vscode-panelTitle-activeForeground: #bfbfbf;
    --vscode-panelTitle-inactiveForeground: #8c8c8c;
    --vscode-panelTitle-activeBorder: #3994bc;
    --vscode-panelTitleBadge-background: #3994bc;
    --vscode-panelTitleBadge-foreground: #ffffff;
    --vscode-panelInput-border: #2b2b2b;
    --vscode-panel-dropBorder: #bfbfbf;
    --vscode-panelSection-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-panelSection-border: #2a2b2c;
    --vscode-panelStickyScroll-background: #191a1b;
    --vscode-panelStickyScroll-shadow: rgba(25, 27, 29, 0.3);
    --vscode-browser-border: #2a2b2c;
    --vscode-profileBadge-background: #4d4d4d;
    --vscode-profileBadge-foreground: #ffffff;
    --vscode-statusBarItem-remoteBackground: #0078d4;
    --vscode-statusBarItem-remoteForeground: #ffffff;
    --vscode-statusBarItem-remoteHoverForeground: #ffffff;
    --vscode-statusBarItem-remoteHoverBackground: #262728;
    --vscode-statusBarItem-offlineBackground: #6c1717;
    --vscode-statusBarItem-offlineForeground: #ffffff;
    --vscode-statusBarItem-offlineHoverForeground: #ffffff;
    --vscode-statusBarItem-offlineHoverBackground: #262728;
    --vscode-extensionBadge-remoteBackground: #3994bc;
    --vscode-extensionBadge-remoteForeground: #ffffff;
    --vscode-sideBar-background: #191a1b;
    --vscode-sideBar-foreground: #bfbfbf;
    --vscode-sideBar-border: #2a2b2c;
    --vscode-sideBarTitle-background: #191a1b;
    --vscode-sideBarTitle-foreground: #bfbfbf;
    --vscode-sideBar-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-sideBarSectionHeader-background: #191a1b;
    --vscode-sideBarSectionHeader-foreground: #bfbfbf;
    --vscode-sideBarSectionHeader-border: #2a2b2c;
    --vscode-sideBarActivityBarTop-border: #2a2b2c;
    --vscode-sideBarStickyScroll-background: #191a1b;
    --vscode-sideBarStickyScroll-shadow: rgba(25, 27, 29, 0.3);
    --vscode-titleBar-activeForeground: #8c8c8c;
    --vscode-titleBar-inactiveForeground: #8c8c8c;
    --vscode-titleBar-activeBackground: #191a1b;
    --vscode-titleBar-inactiveBackground: #191a1b;
    --vscode-titleBar-border: #2a2b2c;
    --vscode-menubar-selectionForeground: #bfbfbf;
    --vscode-menubar-selectionBackground: #242526;
    --vscode-commandCenter-foreground: #bfbfbf;
    --vscode-commandCenter-activeForeground: #bfbfbf;
    --vscode-commandCenter-inactiveForeground: #8c8c8c;
    --vscode-commandCenter-background: #191a1b;
    --vscode-commandCenter-activeBackground: rgba(255, 255, 255, 0.06);
    --vscode-commandCenter-border: #2e3031;
    --vscode-commandCenter-activeBorder: #333536;
    --vscode-commandCenter-inactiveBorder: rgba(140, 140, 140, 0.25);
    --vscode-notificationCenter-border: #2a2b2c;
    --vscode-notificationToast-border: #2a2b2c;
    --vscode-notifications-foreground: #bfbfbf;
    --vscode-notifications-background: #202122;
    --vscode-notificationLink-foreground: #3a94bc;
    --vscode-notificationCenterHeader-foreground: #bfbfbf;
    --vscode-notificationCenterHeader-background: #242526;
    --vscode-notifications-border: #2a2b2c;
    --vscode-notificationsErrorIcon-foreground: #f48771;
    --vscode-notificationsWarningIcon-foreground: #cca700;
    --vscode-notificationsInfoIcon-foreground: #3a94bc;
    --vscode-agentSessionReadIndicator-foreground: rgba(191, 191, 191, 0.2);
    --vscode-agentSessionSelectedBadge-border: rgba(237, 237, 237, 0.3);
    --vscode-agentSessionSelectedUnfocusedBadge-border: rgba(191, 191, 191, 0.3);
    --vscode-editorGutter-modifiedBackground: #0078d4;
    --vscode-editorGutter-modifiedSecondaryBackground: #003c6a;
    --vscode-editorGutter-addedBackground: #72c892;
    --vscode-editorGutter-addedSecondaryBackground: #2c7145;
    --vscode-editorGutter-deletedBackground: #f28772;
    --vscode-editorGutter-deletedSecondaryBackground: #c43012;
    --vscode-minimapGutter-modifiedBackground: #0078d4;
    --vscode-minimapGutter-addedBackground: #72c892;
    --vscode-minimapGutter-deletedBackground: #f28772;
    --vscode-editorOverviewRuler-modifiedForeground: #6ab890;
    --vscode-editorOverviewRuler-addedForeground: #73c991;
    --vscode-editorOverviewRuler-deletedForeground: #f48771;
    --vscode-editorGutter-itemGlyphForeground: #bbbebf;
    --vscode-editorGutter-itemBackground: #2c2d2e;
    --vscode-terminal-background: #191a1b;
    --vscode-terminal-foreground: #cccccc;
    --vscode-terminalCursor-foreground: #bfbfbf;
    --vscode-terminalCursor-background: #191a1b;
    --vscode-terminal-selectionBackground: rgba(57, 148, 188, 0.2);
    --vscode-terminal-inactiveSelectionBackground: #3a3d41;
    --vscode-terminalCommandDecoration-defaultBackground: rgba(255, 255, 255, 0.25);
    --vscode-terminalCommandDecoration-successBackground: #1b81a8;
    --vscode-terminalCommandDecoration-errorBackground: #f14c4c;
    --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --vscode-terminal-border: #2a2b2c;
    --vscode-terminalOverviewRuler-border: #2a2b2c;
    --vscode-terminal-findMatchBackground: rgba(39, 103, 130, 0.56);
    --vscode-terminal-hoverHighlightBackground: rgba(36, 37, 38, 0.5);
    --vscode-terminal-findMatchHighlightBackground: rgba(39, 103, 130, 0.5);
    --vscode-terminalOverviewRuler-findMatchForeground: rgba(58, 148, 188, 0.6);
    --vscode-terminal-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-terminal-tab\.activeBorder: rgba(57, 148, 188, 0);
    --vscode-terminal-initialHintForeground: rgba(255, 255, 255, 0.34);
    --vscode-scmGraph-historyItemRefColor: #57a3f8;
    --vscode-scmGraph-historyItemRemoteRefColor: #ad80d7;
    --vscode-scmGraph-historyItemBaseRefColor: #ea5c00;
    --vscode-scmGraph-historyItemHoverDefaultLabelForeground: #bfbfbf;
    --vscode-scmGraph-historyItemHoverDefaultLabelBackground: rgba(57, 148, 188, 0.94);
    --vscode-scmGraph-historyItemHoverLabelForeground: #191a1b;
    --vscode-scmGraph-historyItemHoverAdditionsForeground: #81b88b;
    --vscode-scmGraph-historyItemHoverDeletionsForeground: #c74e39;
    --vscode-scmGraph-foreground1: #ffb000;
    --vscode-scmGraph-foreground2: #dc267f;
    --vscode-scmGraph-foreground3: #994f00;
    --vscode-scmGraph-foreground4: #40b0a6;
    --vscode-scmGraph-foreground5: #b66dff;
    --vscode-commentsView-resolvedIcon: #555555;
    --vscode-commentsView-unresolvedIcon: rgba(57, 148, 188, 0.7);
    --vscode-editorCommentsWidget-replyInputBackground: #242526;
    --vscode-editorCommentsWidget-resolvedBorder: #555555;
    --vscode-editorCommentsWidget-unresolvedBorder: rgba(57, 148, 188, 0.7);
    --vscode-editorCommentsWidget-rangeBackground: rgba(72, 143, 174, 0.15);
    --vscode-editorCommentsWidget-rangeActiveBackground: rgba(72, 143, 174, 0.28);
    --vscode-editorGutter-commentRangeForeground: #2c2d2e;
    --vscode-editorOverviewRuler-commentForeground: #2c2d2e;
    --vscode-editorOverviewRuler-commentUnresolvedForeground: #2c2d2e;
    --vscode-editorOverviewRuler-commentDraftForeground: #2c2d2e;
    --vscode-editorGutter-commentGlyphForeground: #bbbebf;
    --vscode-editorGutter-commentUnresolvedGlyphForeground: #bbbebf;
    --vscode-editorGutter-commentDraftGlyphForeground: #bbbebf;
    --vscode-agents-background: #121314;
    --vscode-agentsPanel-background: #191a1b;
    --vscode-agentsPanel-foreground: #bfbfbf;
    --vscode-agentsPanel-border: #2a2b2c;
    --vscode-agentsGradient-tintColor: #297aa0;
    --vscode-agentFeedbackInputWidget-border: #2a2b2c;
    --vscode-agentsUpdateButton-downloadingBackground: rgba(41, 122, 160, 0.4);
    --vscode-agentsUpdateButton-downloadedBackground: rgba(41, 122, 160, 0.7);
    --vscode-agentsChatInput-background: #202122;
    --vscode-agentsChatInput-foreground: #bfbfbf;
    --vscode-agentsChatInput-border: #333536;
    --vscode-agentsChatInput-focusBorder: rgba(57, 148, 188, 0.7);
    --vscode-agentsChatInput-placeholderForeground: #555555;
    --vscode-agentsNewSessionButton-background: rgba(0, 0, 0, 0);
    --vscode-agentsNewSessionButton-foreground: #bfbfbf;
    --vscode-agentsNewSessionButton-border: #333536;
    --vscode-agentsNewSessionButton-hoverBackground: rgba(255, 255, 255, 0.09);
    --vscode-agentsBadge-background: #3994bc;
    --vscode-agentsBadge-foreground: #ffffff;
    --vscode-agentsUnreadBadge-background: #3994bc;
    --vscode-agentsUnreadBadge-foreground: #ffffff;
    --vscode-ports-iconRunningProcessForeground: #369432;
    --vscode-settings-headerForeground: #ffffff;
    --vscode-settings-settingsHeaderHoverForeground: rgba(255, 255, 255, 0.7);
    --vscode-settings-modifiedItemIndicator: rgba(187, 128, 9, 0.4);
    --vscode-settings-headerBorder: #2a2b2c;
    --vscode-settings-sashBorder: #2a2b2c;
    --vscode-settings-dropdownBackground: #313131;
    --vscode-settings-dropdownForeground: #bfbfbf;
    --vscode-settings-dropdownBorder: #3c3c3c;
    --vscode-settings-dropdownListBorder: #2a2b2c;
    --vscode-settings-checkboxBackground: #242526;
    --vscode-settings-checkboxForeground: #8c8c8c;
    --vscode-settings-checkboxBorder: #333536;
    --vscode-settings-textInputBackground: #191a1b;
    --vscode-settings-textInputForeground: #bfbfbf;
    --vscode-settings-textInputBorder: #333536;
    --vscode-settings-numberInputBackground: #191a1b;
    --vscode-settings-numberInputForeground: #bfbfbf;
    --vscode-settings-numberInputBorder: #333536;
    --vscode-settings-focusedRowBackground: rgba(255, 255, 255, 0.03);
    --vscode-settings-rowHoverBackground: rgba(255, 255, 255, 0.01);
    --vscode-settings-focusedRowBorder: rgba(57, 148, 188, 0.7);
    --vscode-keybindingTable-headerBackground: rgba(191, 191, 191, 0.04);
    --vscode-keybindingTable-rowsBackground: rgba(191, 191, 191, 0.04);
    --vscode-extensionButton-background: rgba(0, 0, 0, 0);
    --vscode-extensionButton-foreground: #cccccc;
    --vscode-extensionButton-hoverBackground: rgba(255, 255, 255, 0.06);
    --vscode-extensionButton-border: #333536;
    --vscode-extensionButton-separator: rgba(255, 255, 255, 0.4);
    --vscode-extensionButton-prominentBackground: #297aa0;
    --vscode-extensionButton-prominentForeground: #ffffff;
    --vscode-extensionButton-prominentHoverBackground: #2b7da3;
    --vscode-debugToolBar-background: #181818;
    --vscode-debugIcon-startForeground: #89d185;
    --vscode-notebook-cellBorderColor: #2c2d2e;
    --vscode-notebook-focusedEditorBorder: rgba(57, 148, 188, 0.7);
    --vscode-notebookStatusSuccessIcon-foreground: #89d185;
    --vscode-notebookEditorOverviewRuler-runningCellForeground: #89d185;
    --vscode-notebookStatusErrorIcon-foreground: #f48771;
    --vscode-notebookStatusRunningIcon-foreground: #bfbfbf;
    --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
    --vscode-notebook-selectedCellBackground: #2c2d2e;
    --vscode-notebook-selectedCellBorder: #2c2d2e;
    --vscode-notebook-focusedCellBorder: rgba(57, 148, 188, 0.7);
    --vscode-notebook-inactiveFocusedCellBorder: #2c2d2e;
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
    --vscode-notebook-cellInsertionIndicator: rgba(57, 148, 188, 0.7);
    --vscode-notebookScrollbarSlider-background: rgba(131, 132, 133, 0.2);
    --vscode-notebookScrollbarSlider-hoverBackground: rgba(131, 132, 133, 0.4);
    --vscode-notebookScrollbarSlider-activeBackground: rgba(131, 132, 133, 0.6);
    --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-notebook-cellEditorBackground: #191a1b;
    --vscode-notebook-editorBackground: #121314;
    --vscode-inlineChat-foreground: #bfbfbf;
    --vscode-inlineChat-background: #202122;
    --vscode-inlineChat-border: rgba(0, 0, 0, 0);
    --vscode-inlineChat-shadow: rgba(0, 0, 0, 0.36);
    --vscode-inlineChatInput-border: #2a2b2c;
    --vscode-inlineChatInput-focusBorder: rgba(57, 148, 188, 0.7);
    --vscode-inlineChatInput-placeholderForeground: #555555;
    --vscode-inlineChatInput-background: #191a1b;
    --vscode-inlineChatDiff-inserted: rgba(87, 171, 90, 0.15);
    --vscode-editorOverviewRuler-inlineChatInserted: rgba(87, 171, 90, 0.18);
    --vscode-editorMinimap-inlineChatInserted: rgba(87, 171, 90, 0.18);
    --vscode-inlineChatDiff-removed: rgba(244, 112, 103, 0.15);
    --vscode-editorOverviewRuler-inlineChatRemoved: rgba(244, 112, 103, 0.18);
    --vscode-extensionIcon-verifiedForeground: #48a0c7;
    --vscode-agentStatusIndicator-background: rgba(255, 255, 255, 0.05);
    --vscode-chat-requestBorder: rgba(255, 255, 255, 0.1);
    --vscode-chat-requestBackground: rgba(18, 19, 20, 0.62);
    --vscode-chat-slashCommandBackground: rgba(38, 71, 120, 0.4);
    --vscode-chat-slashCommandForeground: #85b6ff;
    --vscode-chat-avatarBackground: #1f1f1f;
    --vscode-chat-avatarForeground: #bfbfbf;
    --vscode-chat-editedFileForeground: #e2c08d;
    --vscode-chat-requestCodeBorder: rgba(0, 73, 114, 0.72);
    --vscode-chat-requestBubbleBackground: rgba(255, 255, 255, 0.07);
    --vscode-chat-requestBubbleHoverBackground: rgba(255, 255, 255, 0.13);
    --vscode-chat-checkpointSeparator: #585858;
    --vscode-chat-linesAddedForeground: #54b054;
    --vscode-chat-linesRemovedForeground: #fc6a6a;
    --vscode-chat-thinkingShimmer: #ffffff;
    --vscode-chat-inputWorkingBorderColor1: #297aa0;
    --vscode-chat-inputWorkingBorderColor2: #1c546f;
    --vscode-chat-inputWorkingBorderColor3: #5ba8cc;
    --vscode-extensionIcon-starForeground: #ff8e00;
    --vscode-extensionIcon-preReleaseForeground: #1d9271;
    --vscode-extensionIcon-sponsorForeground: #d758b3;
    --vscode-extensionIcon-privateForeground: rgba(255, 255, 255, 0.38);
    --vscode-debugExceptionWidget-border: #a31515;
    --vscode-debugExceptionWidget-background: #420b0d;
    --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
    --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --vscode-debugIcon-breakpointForeground: #e51400;
    --vscode-debugIcon-breakpointDisabledForeground: #848484;
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
    --vscode-multiDiffEditor-headerBackground: #262626;
    --vscode-multiDiffEditor-background: #121314;
    --vscode-multiDiffEditor-border: #2a2b2c;
    --vscode-minimap-chatEditHighlight: rgba(18, 19, 20, 0.6);
    --vscode-aiCustomizationManagement-sashBorder: #2a2b2c;
    --vscode-mcpIcon-starForeground: #ff8e00;
    --vscode-interactive-activeCodeBorder: #2a2b2c;
    --vscode-interactive-inactiveCodeBorder: #2c2d2e;
    --vscode-testing-iconFailed: #f48771;
    --vscode-testing-iconErrored: #f48771;
    --vscode-testing-iconPassed: #73c991;
    --vscode-testing-runAction: #73c991;
    --vscode-testing-iconQueued: #e5ba7d;
    --vscode-testing-iconUnset: #848484;
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-peekBorder: #f14c4c;
    --vscode-testing-messagePeekBorder: #59a4f9;
    --vscode-testing-peekHeaderBackground: rgba(241, 76, 76, 0.1);
    --vscode-testing-messagePeekHeaderBackground: rgba(89, 164, 249, 0.1);
    --vscode-testing-coveredBackground: rgba(87, 171, 90, 0.3);
    --vscode-testing-coveredBorder: rgba(87, 171, 90, 0.23);
    --vscode-testing-coveredGutterBackground: rgba(87, 171, 90, 0.18);
    --vscode-testing-uncoveredBranchBackground: #9a4b46;
    --vscode-testing-uncoveredBackground: rgba(244, 112, 103, 0.3);
    --vscode-testing-uncoveredBorder: rgba(244, 112, 103, 0.23);
    --vscode-testing-uncoveredGutterBackground: rgba(244, 112, 103, 0.45);
    --vscode-testing-coveredMinimapBackground: rgba(87, 171, 90, 0.18);
    --vscode-testing-uncoveredMinimapBackground: rgba(244, 112, 103, 0.45);
    --vscode-testing-coverCountBadgeBackground: rgba(57, 148, 188, 0.94);
    --vscode-testing-coverCountBadgeForeground: #ffffff;
    --vscode-testing-message\.error\.badgeBackground: #f48771;
    --vscode-testing-message\.error\.badgeBorder: #f48771;
    --vscode-testing-message\.error\.badgeForeground: #ffffff;
    --vscode-testing-message\.info\.decorationForeground: rgba(187, 190, 191, 0.5);
    --vscode-testing-iconErrored\.retired: rgba(244, 135, 113, 0.7);
    --vscode-testing-iconFailed\.retired: rgba(244, 135, 113, 0.7);
    --vscode-testing-iconPassed\.retired: rgba(115, 201, 145, 0.7);
    --vscode-testing-iconQueued\.retired: rgba(229, 186, 125, 0.7);
    --vscode-testing-iconUnset\.retired: rgba(132, 132, 132, 0.7);
    --vscode-testing-iconSkipped\.retired: rgba(132, 132, 132, 0.7);
    --vscode-searchEditor-textInputBorder: #333536;
    --vscode-statusBar-debuggingBackground: #3994bc;
    --vscode-statusBar-debuggingForeground: #ffffff;
    --vscode-statusBar-debuggingBorder: #2a2b2c;
    --vscode-commandCenter-debuggingBackground: rgba(57, 148, 188, 0.26);
    --vscode-debugTokenExpression-name: #c586c0;
    --vscode-debugTokenExpression-type: #4a90e2;
    --vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
    --vscode-debugTokenExpression-string: #ce9178;
    --vscode-debugTokenExpression-boolean: #4e94ce;
    --vscode-debugTokenExpression-number: #b5cea8;
    --vscode-debugTokenExpression-error: #f48771;
    --vscode-debugView-exceptionLabelForeground: #bfbfbf;
    --vscode-debugView-exceptionLabelBackground: #6c2022;
    --vscode-debugView-stateLabelForeground: #bfbfbf;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-debugConsole-infoForeground: #59a4f9;
    --vscode-debugConsole-warningForeground: #cca700;
    --vscode-debugConsole-errorForeground: #f48771;
    --vscode-debugConsole-sourceForeground: #bfbfbf;
    --vscode-debugConsoleInputIcon-foreground: #bfbfbf;
    --vscode-debugIcon-pauseForeground: #75beff;
    --vscode-debugIcon-stopForeground: #f48771;
    --vscode-debugIcon-disconnectForeground: #f48771;
    --vscode-debugIcon-restartForeground: #89d185;
    --vscode-debugIcon-stepOverForeground: #75beff;
    --vscode-debugIcon-stepIntoForeground: #75beff;
    --vscode-debugIcon-stepOutForeground: #75beff;
    --vscode-debugIcon-continueForeground: #75beff;
    --vscode-debugIcon-stepBackForeground: #75beff;
    --vscode-mergeEditor-change\.background: rgba(155, 185, 85, 0.2);
    --vscode-mergeEditor-change\.word\.background: rgba(156, 204, 44, 0.2);
    --vscode-mergeEditor-changeBase\.background: #4b1818;
    --vscode-mergeEditor-changeBase\.word\.background: #6f1313;
    --vscode-mergeEditor-conflict\.unhandledUnfocused\.border: rgba(255, 166, 0, 0.48);
    --vscode-mergeEditor-conflict\.unhandledFocused\.border: #ffa600;
    --vscode-mergeEditor-conflict\.handledUnfocused\.border: rgba(134, 134, 134, 0.29);
    --vscode-mergeEditor-conflict\.handledFocused\.border: rgba(193, 193, 193, 0.8);
    --vscode-mergeEditor-conflict\.handled\.minimapOverViewRuler: rgba(173, 172, 168, 0.93);
    --vscode-mergeEditor-conflict\.unhandled\.minimapOverViewRuler: #fcba03;
    --vscode-mergeEditor-conflictingLines\.background: rgba(255, 234, 0, 0.28);
    --vscode-mergeEditor-conflict\.input1\.background: rgba(64, 200, 174, 0.2);
    --vscode-mergeEditor-conflict\.input2\.background: rgba(64, 166, 255, 0.2);
    --vscode-terminal-ansiBlack: #000000;
    --vscode-terminal-ansiRed: #cd3131;
    --vscode-terminal-ansiGreen: #0dbc79;
    --vscode-terminal-ansiYellow: #e5e510;
    --vscode-terminal-ansiBlue: #2472c8;
    --vscode-terminal-ansiMagenta: #bc3fbc;
    --vscode-terminal-ansiCyan: #11a8cd;
    --vscode-terminal-ansiWhite: #e5e5e5;
    --vscode-terminal-ansiBrightBlack: #666666;
    --vscode-terminal-ansiBrightRed: #f14c4c;
    --vscode-terminal-ansiBrightGreen: #23d18b;
    --vscode-terminal-ansiBrightYellow: #f5f543;
    --vscode-terminal-ansiBrightBlue: #3b8eea;
    --vscode-terminal-ansiBrightMagenta: #d670d6;
    --vscode-terminal-ansiBrightCyan: #29b8db;
    --vscode-terminal-ansiBrightWhite: #e5e5e5;
    --vscode-simpleFindWidget-sashBorder: #454545;
    --vscode-terminalStickyScrollHover-background: #2a2d2e;
    --vscode-terminalCommandGuide-foreground: #2c2d2e;
    --vscode-terminalSymbolIcon-flagForeground: #ee9d28;
    --vscode-terminalSymbolIcon-aliasForeground: #b180d7;
    --vscode-terminalSymbolIcon-optionValueForeground: #75beff;
    --vscode-terminalSymbolIcon-methodForeground: #b180d7;
    --vscode-terminalSymbolIcon-argumentForeground: #75beff;
    --vscode-terminalSymbolIcon-optionForeground: #ee9d28;
    --vscode-terminalSymbolIcon-fileForeground: #bfbfbf;
    --vscode-terminalSymbolIcon-folderForeground: #bfbfbf;
    --vscode-terminalSymbolIcon-commitForeground: #bfbfbf;
    --vscode-terminalSymbolIcon-branchForeground: #bfbfbf;
    --vscode-terminalSymbolIcon-tagForeground: #bfbfbf;
    --vscode-terminalSymbolIcon-stashForeground: #bfbfbf;
    --vscode-terminalSymbolIcon-remoteForeground: #bfbfbf;
    --vscode-terminalSymbolIcon-pullRequestForeground: #bfbfbf;
    --vscode-terminalSymbolIcon-pullRequestDoneForeground: #bfbfbf;
    --vscode-terminalSymbolIcon-symbolicLinkFileForeground: #bfbfbf;
    --vscode-terminalSymbolIcon-symbolicLinkFolderForeground: #bfbfbf;
    --vscode-terminalSymbolIcon-symbolText: #bfbfbf;
    --vscode-markdownAlert-note\.foreground: #59a4f9;
    --vscode-markdownAlert-tip\.foreground: #86cf86;
    --vscode-markdownAlert-important\.foreground: #ad80d7;
    --vscode-markdownAlert-warning\.foreground: #cca700;
    --vscode-markdownAlert-caution\.foreground: #f14c4c;
    --vscode-welcomePage-tileBackground: #2b2b2b;
    --vscode-welcomePage-tileHoverBackground: #262829;
    --vscode-welcomePage-tileBorder: rgba(255, 255, 255, 0.1);
    --vscode-welcomePage-progress\.background: #191a1b;
    --vscode-welcomePage-progress\.foreground: #0078d4;
    --vscode-walkthrough-stepTitle\.foreground: #ffffff;
    --vscode-walkThrough-embeddedEditorBackground: rgba(0, 0, 0, 0.4);
    --vscode-profiles-sashBorder: #2a2b2c;
    --vscode-gitDecoration-addedResourceForeground: #73c991;
    --vscode-gitDecoration-modifiedResourceForeground: #e5ba7d;
    --vscode-gitDecoration-deletedResourceForeground: #f48771;
    --vscode-gitDecoration-renamedResourceForeground: #73c991;
    --vscode-gitDecoration-untrackedResourceForeground: #73c991;
    --vscode-gitDecoration-ignoredResourceForeground: #8c8c8c;
    --vscode-gitDecoration-stageModifiedResourceForeground: #e5ba7d;
    --vscode-gitDecoration-stageDeletedResourceForeground: #f48771;
    --vscode-gitDecoration-conflictingResourceForeground: #f48771;
    --vscode-gitDecoration-submoduleResourceForeground: #8db9e2;
    --vscode-git-blame\.editorDecorationForeground: #969696;
    --vscode-agents-fontSize-heading1: 26px;
    --vscode-agents-fontSize-heading2: 18px;
    --vscode-agents-fontSize-heading3: 13px;
    --vscode-agents-fontSize-body1: 13px;
    --vscode-agents-fontSize-body2: 11px;
    --vscode-agents-fontSize-label1: 12px;
    --vscode-agents-fontSize-label2: 11px;
    --vscode-agents-fontSize-label3: 11px;
    --vscode-agents-fontSize-label4: 10px;
    --vscode-agents-fontWeight-regular: 400;
    --vscode-agents-fontWeight-medium: 500;
    --vscode-agents-fontWeight-semiBold: 600;
    --vscode-bodyFontSize: 13px;
    --vscode-bodyFontSize-small: 12px;
    --vscode-bodyFontSize-xSmall: 11px;
    --vscode-codiconFontSize: 16px;
    --vscode-cornerRadius-medium: 6px;
    --vscode-cornerRadius-xSmall: 2px;
    --vscode-cornerRadius-small: 4px;
    --vscode-cornerRadius-large: 8px;
    --vscode-cornerRadius-xLarge: 12px;
    --vscode-cornerRadius-circle: 9999px;
    --vscode-strokeThickness: 1px;
    --vscode-editor-font-feature-settings: "liga" off, "calt" off;
}
